[submodule "app/src/main/jni/libpng"]
	path = app/src/main/jni/libpng
	url = https://github.com/android/platform_external_libpng.git
	branch = nougat-mr2.3-release

[submodule "app/src/main/jni/expat"]
	path = app/src/main/jni/expat
	url = https://github.com/android/platform_external_expat.git
	branch = nougat-mr2.3-release

[submodule "app/src/main/jni/system_core"]
	path = app/src/main/jni/system_core
	url = https://github.com/android/platform_system_core.git
	branch = nougat-mr2.3-release
	
[submodule "app/src/main/jni/safe-iop"]
	path = app/src/main/jni/safe-iop
	url = https://github.com/android/platform_external_safe-iop.git
	branch = nougat-mr2.3-release